<footer class="bg-light mt-2 py-2">
  <div class="container text-center my-0">

    <p class="my-0">
      © 2013 Cubo Mágico sem Decoreba
    </p>

    <p class="my-0">
      Conteúdo licenciado sob
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">
      CC BY-SA 4.0
      </a>
    </p>
    <p class="my-0">
      <a href="politica-de-privacidade.html">Política de Privacidade</a>
    </p>
    <p class="my-0">
      <a href="javascript:void(0)" id="cookies-settings">Preferências de cookies</a>
    </p>

  </div>
</footer>
